In [1]:
student_score={
 "name":["student1","student2","student3"],
 "math":[80, 90, 70],
 "science":[50,60,40],
 "english":[30,75,86],
}
print (student_score)   #creating a data frame student_score containing 3 subjects

{'name': ['student1', 'student2', 'student3'], 'math': [80, 90, 70], 'science': [50, 60, 40], 'english': [30, 75, 86]}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(student_score)  #representation of student and subject in row and column respectively
df

       name  math  science  english
0  student1    80       50       30
1  student2    90       60       75
2  student3    70       40       86

In [4]:
df["average"]=df[["math", "science", "english"]]. mean (axis=1)
print(student_score) # calculating average score if each student and adding new column named average

{'name': ['student1', 'student2', 'student3'], 'math': [80, 90, 70], 'science': [50, 60, 40], 'english': [30, 75, 86]}

In [5]:
df

       name  math  science  english    average
0  student1    80       50       30  53.333333
1  student2    90       60       75  75.000000
2  student3    70       40       86  65.333333

In [6]:
max_average=df["average"].max()
student_with_highest_average=df[df["average"]==max_average]
print( student_with_highest_average) #finding highest average

       name  math  science  english  average
1  student2    90       60       75     75.0

In [7]:
df_sorting =df.sort_values(by= "average",ascending=False)
print(df_sorting)   # sorting data frame based on average

       name  math  science  english    average
1  student2    90       60       75  75.000000
2  student3    70       40       86  65.333333
0  student1    80       50       30  53.333333

# question two

In [8]:
temperatures=[30,20,40]
temperatures

[30, 20, 40]

In [9]:
fahrenheit_temperatures = [(temp * 9/5) + 32 for temp in temperatures]

In [10]:
fahrenheit_temperatures

[86.0, 68.0, 104.0]